body {
    background-color: rgb(51, 36, 36);
    color:white;
  }
  
  .cell {
    font-family: 'MS Sans Serif';
    text-align: center;
    font-size: 14px;
    height: 30px;
    width: 30px;
    background-color: #BFBFBF;
    color: black;
    border-bottom: 2px solid #7B7B7B;
    border-left: 2px solid #ffffff;
    border-top: 2px solid #ffffff;
    border-right: 2px solid #7B7B7B;
  }